* {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 30px 0
}

.menu-bar {
    display: flex;
    align-items: center;
    background-color: rgb(29, 74, 80);
    color: white;
}

.start-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.menu-bar-1 ul {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.menu-bar-1 ul li {
    list-style: none;
}

.menu-bar-1 ul li:hover {
    cursor: pointer;
}

.end-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-div ul {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
}

.end-div ul li {
    list-style: none;
}

.end-div ul li:hover {
    cursor: pointer;
}

.btn-primary1 {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.btn-primary1:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.banner {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    opacity: 100%;
}

.content-text h2,
.special-edition-content h2 {
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-text {
    color: white;
    position: absolute;
    top: 200px;
    left: 200px;
}

.social-media-image ul {
    display: flex;
    gap: 25px;
    margin-top: 50px;
    justify-content: space-around;
}

.social-media-image ul li {
    list-style: none;
}

.social-media-image ul li a {
    color: black;
}

.site {
    display: flex;
    gap: 5px;
}

.site li i {
    font-size: 40px;
}

a:link {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    margin-top: 10px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8 {
    padding: 10px;
    /* font-size: 20px; */
    text-align: center;
}

.item1 img,
.item2 img,
.item3 img,
.item4 img,
.item5 img,
.item6 img,
.item7 img,
.item8 img {
    height: 150px;
    width: 150px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
    gap: 10px;
}

.card-one {
    background-image: url('images/card1.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    opacity: 100%;
}

.card-two {
    background-image: url('images/card2.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    opacity: 100%;
}

.card-three {
    background-image: url('images/card3.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    opacity: 100%;
}

.card-content {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
}

.special-edition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background-image: linear-gradient(to right, #98cfe3, #63b8d4);
    color: white;
}

.special-edition-content {
    color: white;
    position: absolute;
    left: 200px;
}

.special-edition img {
    margin-left: 690px;
}

.branding {
    background-color: aliceblue;
}

.branding ul {
    display: flex;
    gap: 25px;
    justify-content: space-around;
    padding-bottom: 10px;
}

.branding ul li {
    list-style: none;
    text-align: center;
}

.brand i {
    font-size: 20px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 80px;
}

.note {
    text-align: center;
}

.End ul {
    display: flex;
    gap: 25px;
    justify-content: space-around;
    background-color: aliceblue;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.End ul li {
    list-style: none;
    text-align: center;
}

.End ul li {
    text-align: left;
}

.btn-subscibe {
    color: white;
    background-color: rgb(29, 74, 80);
    border: 1px solid rgb(29, 74, 80);
    margin-top: 10px;
}

.btn-subscibe:hover {
    cursor: pointer;
}

.Footer {
    display: flex;
    gap: 25px;
    background-color: aliceblue;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-media-link ul {
    display: flex;
    gap: 25px;
    justify-content: space-around;
    padding-left: 750px;
}

.social-media-link ul li {
    list-style: none;
}

.social-media-link ul li a {
    color: black;
}

.section-title h2 {
    text-align: center;
    margin-bottom: 10px;
}

hr {
    width: 5%;
    margin: 0 auto;
    border: 1px solid rgb(29, 74, 80);
}